ENVIRONMENT="develop"
MAX_PROCESSES=10
SQL_DB_NAME="<sql db name>"
SQL_DB_USER="<sql user>"
SQL_DB_PASS="<sql password>"
SQL_DB_HOST="<sql host>"
SQL_DB_PORT=
MONGO_DB_USER="<first user>"
MONGO_DB_PASS="*****"
MONGO_BD_USER_RESERVE="<second user>"
MONGO_BD_PASS_RESERVE="*****"
MONGO_DB_HOST="<mongo cluster url>"
MONGO_DB_HOST_SCHEMA="<mongodb+srv / mongodb>"
MONGO_DB_PROXY=
WEB_PROXY=
OPENVPN=
OPENVPN_LOGIN=
OPENVPN_PASSWORD=