# S3
S3_ACCESS_KEY="<key>"
S3_SECRET_KEY="<key>"
BASE_BUCKET="<name>"
# DATA IMPORTER
DATA_IMPORTER_API_KEY="<str>"
# ENV
ENVIRONMENT="develop"
# Google Drive
SERVICE_ACCOUNT_FILE="<auth file>"
# SQL
SQL_DB_NAME="<sql db name>"
SQL_DB_USER="<sql user>"
SQL_DB_PASS="<sql password>"
SQL_DB_HOST="<sql host>"
SQL_DB_PORT=3306
# MongoDB
MONGO_DB_USER="<user>"
MONGO_DB_PASS="*****"
MONGO_DB_HOST="<mongo cluster url>"
MONGO_DB_HOST_SCHEMA="<mongodb+srv / mongodb>"
MONGO_DB_PROXY="<proxy (may be with auth)>"
# Proxy & VPN
WEB_PROXY="<rotating proxy for requests>"
PROXY_AUTH_TOKEN="<proxy api auth>"
OPENVPN="<script path>"
OPENVPN_LOGIN="<login>"
OPENVPN_PASSWORD="<password>"
# PORTS (809* - main, 883* - loaders)
CAPTCHA_PORT=<number>
DATA_IMPORTER_PORT=<number>
PROXIES_PORT=<number>
S3_PORT=<number>
GOOGLE_PORT=<number>
SERVER_PORT=<number>
WEB_PORT=<number>
SELLERCENTRAL_PORT=<number>