starlette==0.36.3
fastapi==0.110.0
uvicorn==0.29.0
opencv-contrib-python
opencv-python
numpy==1.26.4
urllib3==2.2.0
imutils==0.5.4
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0