requests
cryptography==3.3.2
protobuf==3.15.0
pycparser==2.19
six==1.13.0
anyio==4.3.0
starlette==0.36.3
fastapi==0.110.0
uvicorn==0.29.0
orjson
pymongo
pytz
certifi
fake-useragent
more-itertools
pandas
python-multipart
gevent