.panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 999;
}

.button-div {
    padding: .5em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tasks-row {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2em;
    justify-content: start;
    justify-items: start;
    align-items: baseline;
}

.tasks-rect {
    white-space: nowrap;
    position: relative;
    min-width: 18em;
    background-color: lightgray;
    border-radius: 1em;
}

.tasks-rect-info {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1em;
    background-color: lightgray;
}

.tasks-rect-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    min-width: 100%;
    min-height: 6vh;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    word-break: break-word;
    white-space: normal;
}

.tasks-rect-status {
    display: flex;
    justify-content: left;
    align-items: baseline;
    font-size: 1em;
    width: 100%;
}

.alias {
    position: relative;
    border-radius: 1em;
    background-color: darkgray;
    font-size: large;
    margin: 0.5em;
    border: 1px solid;
}

.alias-header {
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: .5em;
    background-color: darkgray;
    word-break: break-word;
    white-space: normal;
    font-size: .9em;
}

.alias-stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 6em;
    top: 25%;
    background-color: lightgray;
    word-break: break-word;
    white-space: normal;
}

.alias-progress {
    height: 1.9em;
}