body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

#tasks_panel {
    border-right: 1px rgba(0, 0, 0, .7) solid;
}

.readmore-js-toggle, .readmore-js-section {
    display: block;
    width: 100%;
}

.readmore-js-section {
    overflow: hidden;
}

a {
    text-decoration: none;
}

table td {
    border: 1px dashed black;
    padding: 1em;
    word-break: break-word;
    min-width: 10em;
}

.tab-content [class*='col-'] > div {
    border-radius: 1em;
    border: 1px solid black;
    margin: 2em;
    padding: 3em;
    height: 100%;
}

ul#tasks > li {
    padding: 10px 10px 0;
}

.success {
    border: 3px solid green;
}

.error {
    border: 3px solid red;
}

.progress {
    height: 3px;
    background-color: green;
}

ul[data-bs-key='result'] li:nth-of-type(1),
ul[data-bs-key='result'] li:nth-of-type(2),
ul[data-bs-key='result'] li:nth-of-type(3),
ul[data-bs-key='result'] li:nth-of-type(4),
ul[data-bs-key='result'] li:nth-of-type(5) {
    font-style: italic;
    font-weight: bold;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.task {
    background: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.task > a {
    color: black;
}

.task-wrapper {
    position: relative;
}

.task-content {
    padding: 0 20px;
    z-index: 1;
}

.task-content > .task-progress-text {
    color: rgba(0, 0, 0, .5);
    font-size: smaller;
}

.task-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 0;
    transition: width 0.5s ease;
}

.task-remove {
    cursor: pointer;
    z-index: 1;
    font-size: x-large;
}